In [1]:
import pandas as pd
df = pd.read_csv('insurance_pre.csv')
df.head(6)

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520
5   31  female  25.740         0     no   3756.62160

In [2]:
print("Rows:",df.shape[0],"\nColumns:",df.shape[1])

Rows: 1338
Columns: 6

In [3]:
# Counting un-missing data
df.isna().count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
charges     1338
dtype: int64

In [4]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
charges     float64
dtype: object

In [5]:
print("Unique values in each column")
print("Sex:",df['sex'].unique())
print("Children:",df['children'].unique())
print("Smoker:",df['smoker'].unique())

Unique values in each column
Sex: ['female' 'male']
Children: [0 1 3 2 5 4]
Smoker: ['yes' 'no']

In [6]:
print("Verifying max and min values in numerical columns")
print("Age:",df['age'].min(),"to",df['age'].max())
print("BMI:",df['bmi'].min(),"to",df['bmi'].max())
print("Charges:",df['charges'].min(),"to",df['charges'].max())

Verifying max and min values in numerical columns
Age: 18 to 64
BMI: 15.96 to 53.13
Charges: 1121.8739 to 63770.42801

In [7]:
from sklearn.preprocessing import LabelEncoder
le_1 = LabelEncoder()
df['sex'] = le_1.fit_transform(df['sex'])
le_2 = LabelEncoder()
df['smoker'] = le_2.fit_transform(df['smoker'])

df.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [11]:
# Saving Cleaned data
df.to_csv('cleaned_data.csv', index=False)